@charset="utf-8";
*{box-sizing:border-box;font-family: SimSun, '宋体', sans-serif;}
a{text-decoration:none;}
html{font-size:62.5%;}  /*chorme下设置为10px无效，推荐设置为20px，1rem=20px*/
/* @media screen and (max-width:768px){    手机屏幕
html{font-size: 15px;} 
}
@media screen and (min-width: 768px) and (max-width:992px){  平板屏幕
html{font-size: 20px;}
}
@media screen and (min-width: 992px){   电脑屏幕
html{font-size: 25px;}
}  */
.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.clearfix{*zoom:1;}

.fl{float:left;}
.fr{float:right;}




/*占位调试的div*/
.aaa{
    width:2000px;
    height:500px;
    background: red;
    margin-top:100px;
}
